body{
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-boton2{
    visibility: hidden;
}

#bombilla-off{
    height: 75vh;
}

p{
    color: azure;
    font-weight: bold;
}